<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.example.googletutorial2.AmiciziaEndpoint,com.example.googletutorial2.DeviceInfoEndpoint,com.example.googletutorial2.ImgSceltaEndpoint,com.example.googletutorial2.MessageEndpoint,com.example.googletutorial2.MyImageEndpoint,com.example.googletutorial2.NotificaEndpoint,com.example.googletutorial2.PollEndpoint,com.example.googletutorial2.PollImageEndpoint,com.example.googletutorial2.PollSharingEndpoint,com.example.googletutorial2.UtenteEndpoint</param-value>
  </init-param>
 </servlet>
 
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
  <servlet>
    <servlet-name>Get</servlet-name>
    <servlet-class>com.example.googletutorial2.Get</servlet-class>
  </servlet>
 
  <servlet-mapping> 
    <servlet-name>Get</servlet-name>
    <url-pattern>/get/*</url-pattern>
  </servlet-mapping>
 
   <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.example.googletutorial2.Upload</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>com.example.googletutorial2.Serve</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
 
</web-app>